# .ebextensions/01_poetry.config
packages:
  yum:
    python3-devel: []
    gcc: []
    libffi-devel: []
    openssl-devel: []

commands:
  01_install_poetry:
    command: |
      curl -sSL https://install.python-poetry.org | python3 -
      ln -sf ~/.local/bin/poetry /usr/local/bin/poetry
    test: test ! -f /usr/local/bin/poetry

container_commands:
  01_poetry_install:
    command: |
      source $PYTHONPATH/activate
      poetry install --no-interaction --no-ansi
